@import url('https://fonts.googleapis.com/css?family=Gochi+Hand');

body {
	height: 100vh;
	color: rgb(242, 227, 196);
	display: flex;
	justify-content: center;
	align-items: center;
}

.frame {
	display: flex;
	justify-content: center;
	align-items: center;
	color: brown;
	height: 80%;
	width: 80%;
}

.board {
	display: flex;
	justify-content: center;
	align-items: center;
	color: darkgreen;
	height: 75%;
	width: 75%;
}
.text {
	color: white;
	font-size: 25px;
	height: 75%;
	width: 75%;
	list-style: none;
}
